/* start global rules */
:root {
  /* main colors */
  --main-color: #1787ff;
  --main-color-alt: #8731ff;
  --main-color-light: #d6eaff;
  --light-text-color: #676767;
  --main-border-color: #e3e3e3;
  --schedule-border-color: #cfcfcf;

  /* length */
  --header-height: 65px;

  /* time */
  --main-transition: 0.3s;

  /* accent */
  --top-prior: #c70000;
  --high-prior: #fa5656;
  --mid-prior: #ffbb00;
  --low-prior: #2ee677;

  /* scroll */
  --scroll-width: 8px;
  --scroll-track-color: #bbb;
  --scroll-thumb-color: #d4d4d4;
  --scroll-thumb-hover-color: #dadada;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Open sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* end global rules */

/* start header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px var(--main-border-color) solid;
  background-color: white;
}

header .container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--main-color);
  cursor: pointer;
}

header .options {
  display: flex;
  align-items: center;
  gap: 15px;
}

header .bars {
  display: none;
}

@media (max-width: 575px) {
  header .bars {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25px;
    cursor: pointer;
  }
}

header .bars span {
  height: 3px;
  border-radius: 9999px;
  background-color: #777;
}

header ul {
  display: flex;
}

@media (max-width: 575px) {
  header ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: var(--main-transition);
  }

  header .open ul {
    max-height: 200px;
  }
}

header ul a {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 10px;
  color: var(--light-text-color);
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--main-transition);
}

@media (max-width: 575px) {
  header ul a {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px var(--main-border-color) solid;
    background-color: #f3f3f3;
  }
}

header ul a:hover {
  color: var(--main-color);
  background-color: #eee;
  border-color: var(--main-color);
}

header .account {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

header .account img {
  max-width: 100%;
}
/* end header */

/* start main */
main {
  padding-top: calc(40px + var(--header-height));
  padding-bottom: 80px;
  min-height: calc(100vh - var(--header-height));
  background-color: #f9f9f9;
}

main .welcome {
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.5;
}

main .user {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}

main .msg {
  margin: 20px auto;
  padding: 15px;
  border: 1px var(--main-color) dashed;
  border-radius: 7px;
  background-color: var(--main-color-light);
}

main .msg .num-tasks {
  font-weight: bold;
  color: var(--main-color);
}

main .schedule {
  display: flex;
  margin-top: 70px;
  border-radius: 3px;
  overflow: auto;
  background-color: #efefef;
  border: 1px var(--schedule-border-color) solid;
}

main .schedule::-webkit-scrollbar {
  height: var(--scroll-width);
}

main .schedule::-webkit-scrollbar-track {
  background-color: var(--scroll-track-color);
}

main .schedule::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

main .schedule::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

main .day {
  flex: 1;
}

main .today {
  background-color: #e1eefb;
}

main .day:not(:last-child) {
  border-right: 1px var(--schedule-border-color) solid;
}

main .day .head {
  padding: 5px;
  border-bottom: 1px var(--schedule-border-color) solid;
  color: var(--light-text-color);
  text-align: center;
  text-transform: capitalize;
}

main .day .tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  height: 400px;
  min-width: 150px;
  max-width: 200px;
  overflow: auto;
}

main .tasks::-webkit-scrollbar {
  width: var(--scroll-width);
}

main .tasks::-webkit-scrollbar-track {
  background-color: var(--scroll-track-color);
}

main .tasks::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

main .tasks::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

main .task {
  --task-color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 150px;
  padding: 10px;
  border-left: 5px var(--task-color) solid;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 3px #0000002e;
  font-size: 0.9rem;
  cursor: pointer;
  transition: var(--main-transition);
}

main .task:hover {
  box-shadow: 2px 2px 5px #00000038;
}

main .task.top-prior {
  --task-color: var(--top-prior);
}

main .task.high-prior {
  --task-color: var(--high-prior);
}

main .task.mid-prior {
  --task-color: var(--mid-prior);
}

main .task.low-prior {
  --task-color: var(--low-prior);
}

main .task .task-name {
  padding: 1px 5px;
  border-radius: 5px;
  background-color: var(--task-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .task.top-prior .task-name {
  color: white;
}

main .task .task-prior {
  margin-bottom: 5px;
  color: var(--task-color);
  text-transform: capitalize;
}

main .task .task-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--light-text-color);
  max-height: 70px; /* in case browser isn't compatible */
}

main .add-task {
  display: block;
  padding: 10px 20px;
  margin: 50px auto 0;
  border: 1px transparent solid;
  outline: none;
  border-radius: 9999px;
  background-color: var(--main-color-alt);
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  transition: var(--main-transition);
}

main .add-task:hover {
  background-color: white;
  color: var(--main-color-alt);
  border-color: var(--main-color-alt);
}
/* end main */
