<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>

    <!-- google fonts (cairo) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/ccf9235cab.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Title</h1>
        <div class="options">
          <div class="links">
            <div class="bars">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <ul>
              <li>
                <a href="#">link 1</a>
              </li>
              <li>
                <a href="#">link 2</a>
              </li>
              <li>
                <a href="#">link 3</a>
              </li>
            </ul>
          </div>
          <a href="#" class="account">
            <img src="../static/images/avatar.jpg" alt="avatar" />
          </a>
        </div>
      </div>
    </header>

    <script src="../static/js/main.js"></script>
  </body>
</html>
